@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*/{padding: 0;
margin:0;
contain-intrinsic-inline-size: border-box;
}

:root {
  --primary-color: #24073f;
  --text-color: #0b2e03;
  display: flex
  floatblock
  }
  html {
    font-size: 20px;
  }
body{
  font-family: Inter, sans - serif;
  background-color: rgb(233, 241, 240);
  color: rgb(58, 3, 3);
}
img{
  width:100%; 


}
a{
  text-decoration:underline;
  color:#000308
  
}
.description{
  margin-top: 1rem;
  font-size:-0.8rem;
  font-weight: 0.5;
  font-size: 15px;
  color: rgb(58, 3, 3);
}

/* layouts */
.Container{
  max-width: 1000px;
  width:90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 10% 90%
  padding- 5rem
  background-color #cddaeb;
  
  }
@media only screen and (max-with: 368px) {
  .Container {
    width: 100%;
    grid-template-columns:1f;
    padding: 3rem;
    gap:7rem;
  }
}
.profile {
  grid-column: 1/ -1;
  margin-bottom: 2rem;
  }

    /* profile */
     .profile_container {
      display: flex;
    }

    .profile_profileImg {
    width: 100%; /* makes the image fill thi div */
    height: 4%;
    object-fit: cover; /*scales the image to cover the div */
    -o-object-fit: cover;
    font-size: smaller;
    color: white;
    background-color: #4d8599;
    

  }
  .profile_name_firstName{
   color: rgb(58, 3, 3);
    font: weight 15px;
    font-size:clamp(0.3rem, 3vw, 2rem);
    text-transform: uppercase;
    justify-content: center;
    text-align: center;
   
    
  }
  .profile_name_lastName{
    color:rgb(58, 3, 3);
    font: weight 15px;
    font-size:clamp(2rem, 5vw, 4rem);
    text-transform: uppercase;
    justify-content: center;
  
  }

.profile_tittle{
  font-size: 1rem;
  font-weight: 50px;
  text-transform:uppercase 
}
.downloadBtn {
  display: block;
  text-decoration: underline;
  font-size: 5%;
  margin-top: 1rem;
  
}

.download{
  color:black
}

.title {
  text-align: center;
}
.description {
  text-align:left;
  padding: 5px;
  font-family:Abril Fatface serif;
  font-size:22px;
  justify-content:center ;
}

div{
  border-width:1px;
  border-style:dashed;
  border-color:rgb(10, 1, 1)
}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(22, 20, 20);
  color: white;
  text-align: center;
}